<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1:Data Science Tools and Ecosystems

#In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- popular languages that data scientists use
- commonly used libraries used by data scientists
- creating a table with data science tools
- few examples of evaluating arithmetic expressions

#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

#Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
---------------------
|Jupyter Notebook|
|Apache spark|
|Tensor Flow|

### H3:Below are a few examples of evaluating arithmetic expressions in Python.
2*8
5+5
7-3

In [1]:
#This is a simple arithmetic expression to multiply then add numbers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
Snigdha Sovana Patra